:root {
  --red: #e63946;
  --yellow: #ffe66d;
  --drkred: #c22431;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ade8f4;
  color: var(--yellow);
  text-align: center;
  padding: 100px 0px 0px;
}

.header {
  background-color: var(--red);
  width: 1080px;
  margin: 0 auto;
  height: 94px;
  border-radius: 20px 20px 0 0;
  border: 5px solid var(--drkred);
  border-bottom: none;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94px;
  font-style: italic;
}

/*MAIN*/
.main-container {
  background-color: var(--red);
  width: 1080px;
  margin: 0 auto;
  height: 700px;
  border-radius: 0 0 20px 20px;
  border: 5px solid var(--drkred);
  border-top: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.settings {
  display: flex;
  margin-top: 20px;
  width: 750px;
  justify-content: center;
  gap: 30px;
}

button,
input {
  cursor: pointer;
  outline: none;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

button:focus {
  background-color: var(--drkred);
}

#clearBtn:focus {
  background-color: var(--red);
}

input[type='color']{
  -webkit-appearance: none;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
}

button {
  padding: 10px 20px;
  height: 40px;
  border-radius: 100px;
  color: var(--yellow);
  font-style: italic;
  background-color: var(--red);
  border: 2px solid var(--drkred);
  font-size: 15px;
}

.settings2 {
  display: flex;
}
.grid-container {
  display: grid;
  width: 750px;
  height: 500px;
  margin: auto;
}

.grid-container div{
  border: 1px solid black;
}

@media only screen and (max-width: 1080px) {
  .header {
    width: 740px;
  }

  .main-container {
    width: 740px;
  }

  .grid-container {
    width: 500px;
  }
}
