:root {
  --red: #e63946;
  --yellow: #ffe66d;
  --drkred: #c22431;
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,230,109,1) 5%, rgba(255,142,142,1) 50%, rgba(230,57,70,1) 99%);
  color: var(--yellow);
  text-align: center;
  padding: 100px 0px 0px;
}

.header {
  background: rgb(194,36,49);
  background: linear-gradient(180deg, rgba(194,36,49,1) 19%, rgba(230,57,70,1) 84%);
  width: 1080px;
  margin: 0 auto;
  height: 94px;
  border-radius: 20px 20px 0 0;
  border: 5px solid var(--drkred);
  border-bottom: none;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4px;
  font-style: italic;
  font-size: 70px;
}

/*MAIN*/
.main-container {
  background: rgb(194,36,49);
  background: linear-gradient(0deg, rgba(194,36,49,1) 19%, rgba(230,57,70,1) 84%);
  width: 1080px;
  margin: 0 auto;
  height: 700px;
  border-radius: 0 0 20px 20px;
  border: 5px solid var(--drkred);
  border-top: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.settings {
  display: flex;
  margin-top: 20px;
  width: 750px;
  justify-content: center;
  gap: 30px;
}

.settings2 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
button,
input {
  cursor: pointer;
  outline: none;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

button:focus {
  background-color: var(--drkred);
}

#clearBtn:focus {
  background-color: var(--red);
}

input[type='color']{
  -webkit-appearance: none;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
}

button {
  padding: 10px 20px;
  height: 40px;
  border-radius: 100px;
  color: var(--yellow);
  font-style: italic;
  background-color: var(--red);
  border: 2px solid var(--drkred);
  font-size: 15px;
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track{
  height: 10px;
  border: 1px solid var(--red);
  border-radius: 5px;
  background: var(--yellow);
}

input[type='range']::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  margin-top: -8px;
  background: url(/text-width.png);
  background-repeat: no-repeat;
}

input[type='range']:active::-webkit-slider-thumb {
  transform: scale(1.15);
}

/*Grid*/
.grid-container {
  display: grid;
  width: 700px;
  height: 450px;
  margin: auto;
}

.grid-container div{
  border: 1px solid rgb(169,169,169,0.3);
  border-radius: 1px;
}

@media only screen and (max-width: 1080px) {
  .header {
    width: 740px;
  }

  .main-container {
    width: 740px;
  }

  .grid-container {
    width: 450px;
  }
}
